* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Digital";
  src: url("/assets/fonts/ARCADECLASSIC.TTF");
}
@font-face {
  font-family: "GameSlash";
  src: url("/assets/fonts/Games.ttf");
}
